  @import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.f-screen{
    background-color:#463B6B;
    height: 100vh;
    width:100vw;   
}
a:hover {
    color:rgba(255, 255, 255, 0.783)
}

.links{
    color: white;
    text-decoration: none;
    float: right;
}

.heading{
    padding:2em; 
    color:white;
    text-align: center;
    font-size: 4em;
    font-family: 'Pacifico', cursive;
}

.input-field{

    height: 3em;
    width: 50em;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    border-color: white;
    color: white;
}

.bottom-contents{
    margin-left: 30em;
    border-color: white;
}

.text-input{
    width: 54em;
    height: 18em;
    opacity: 2%;
}
.drag-area{
    width: 56em;
    height: 18em;
    border: 1px solid white;
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    align-items: center;
    justify-content: center;
    overflow: auto;
    word-wrap: break-word; 
}

.drag-area.active{
    border: 3px solid #7eec98;
}

/* let pTag = `<p class="drop-para" contentEditable="false">"${paste}"</p>` */
