@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.f-screen {
    background-color:#463B6B;
    height: 100vh;
    width:100vw;   
}
a:hover {
    color:rgba(255, 255, 255, 0.783)
}

.links {
    color: white;
    text-decoration: none;
    float: right;
}

.heading {
    padding:1em; 
    margin-top: 160px;
    color:white;
    margin-bottom: 27px;
}

.vc-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-contents {
    border-color: white;
}

.verify-area {
    width: 349px;    
    height: 349px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    opacity: 1;
    background: #FFFFFF2C 0% 0% no-repeat padding-box;
    color: white;
}
.verify-area.active {
    border: 1px solid #707070;
    border-left-color: #FFFFFF;
}

.verify-header {
    height: 100px;
    display: grid;
    align-items: center;
    justify-content: center;
}

.verify-svg {
    height: 36px;
    width: 133px;
}

.success-svg {
    margin-right: 30px;
    margin-left: 20px;
    height: 25px;
    width: 25px;
}
.verify-body {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 18px;
    border-radius: 10px;
}
.verify-body:hover{
    opacity: 1;
    background: #FFFFFF2C 0% 0% no-repeat padding-box;
}
.drag-area {
    width: 800px;    
    height: 349px;
    /* border: 1px solid #707070; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-right-style: none;
    opacity: 1;
    background: #FFFFFF2C 0% 0% no-repeat padding-box;
    color: white;
    align-items: center;
    justify-content: center;
    overflow: auto;
    word-wrap: break-word;
    position: relative;
    /* margin: 0 auto; */
}

.inner-area {
    margin-left: 20px;
    width: 1149px;
    height: 349px;
    color: white;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    display: flex;
    flex-direction: row;     
}
.outer-area {
    width: 1191px;
    height: 429px;
    background: #FFFFFF27 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 10px;
    opacity: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.outer-text {
    font-size: large;
    margin-top:19px;
    text-align: center;
    /* text-align: center; */
/* font: normal normal normal 16px/18px .AppleSystemUIFont; */
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-size: 16px;
    font-family: system-ui;
}

.icons {
    margin-right: 20px;
    margin-top: 20px;
    float: right;
    font-size: 20px;
    color: #FFFFFF;
    cursor: pointer;
}
.action-buttons{
    position: absolute;
    top: 0;
    right: 0;
}
pre{
    overflow: initial;
}
.drop-header p {
    text-align: center;
}
.drag-status{
    height: 190px;
    display: flex;
    justify-content: center;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #FFFFFF27;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 14px;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


.drag-area::-webkit-scrollbar {
    width: 10px;
}

.drag-area::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.drag-area::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

.drag-area::-webkit-scrollbar-corner {
    background-color: #707070;
}

.sign-body, .stream-body, .digest-body {
    margin-top: 15px;
    cursor: pointer;
}

